.form
    img.form__title(src="./delo.png")
    form.form__main.list
        .form__row.row
            label.form__label.bold(for="name") Полное ФИО
            input.form__input.input_type_primary#name(type="text" placeholder="Иванов Иван Иванович" value="Сеитасанов Яхуб Османович")
        .form__row.row    
            label.form__label.bold(for="year") Год рождения
            input.form__input.input_type_primary#year(type="text" placeholder="1990" value="1998")
        .form__row.row    
            label.form__label.bold(for="city") Место жительства
            input.form__input.input_type_primary#city(type="text" placeholder="г. Иваново, Россия" value="г. Симферополь, Россия")
        .form__row.row   
            label.form__label.bold(for="skype") Скайп
            input.form__input.input_type_primary#skype(type="text" placeholder="ivanov" value="live:yahub0064")
        .form__row.row   
            label.form__label.bold(for="mail") Почта
            input.form__input.input_type_primary#mail(type="email" placeholder="ivanov@gmail.com" value="seitasanov.yahub@mail.ru")