.cx-about
    .cx-about__title.title.bold Расскажите о себе чекбоксами
    p.cx-about__description.description.
        Отметьте чекбоксами пункты, которые соответствуют вашим 
        скиллам. Кстати, отсутствие опыта не означает, что у вас 
        меньше шансов стать одним из наших товарищей. Это означает, 
        что вы будете получать те задачи, с которыми гарантировано 
        будете справляться.
    .cx-about__checkboxes
        .cx-about__column_id_1.list
            .cx-about__row.row        
                input.cx-about__checkbox#1(type="checkbox"  checked)
                label.cx-about__label.bold(for="1") БЭМ/OOCSS
            .cx-about__row.row     
                input.cx-about__checkbox#2(type="checkbox"  checked)
                label.cx-about__label.bold(for="2") Pug (Jade)
            .cx-about__row.row  
                input.cx-about__checkbox#3(type="checkbox"  checked)
                label.cx-about__label.bold(for="3") Stylus/LESS/SASS
            .cx-about__row.row  
                input.cx-about__checkbox#4(type="checkbox"  checked)
                label.cx-about__label.bold(for="4") Работаю с SVG
            .cx-about__row.row  
                input.cx-about__checkbox#5(type="checkbox"  checked)
                label.cx-about__label.bold(for="5") Верстаю семантично
            .cx-about__row.row  
                input.cx-about__checkbox#6(type="checkbox")
                label.cx-about__label.bold(for="6") Accessibility (A11Y)
            .cx-about__row.row  
                input.cx-about__checkbox#7(type="checkbox"  checked)
                label.cx-about__label.bold(for="7") ES2015/ES2016
        .cx-about__column_id_2.list
            .cx-about__row.row        
                input.cx-about__checkbox#8(type="checkbox")
                label.cx-about__label.bold(for="8") Gulp/GRUNT
            .cx-about__row.row     
                input.cx-about__checkbox#9(type="checkbox")
                label.cx-about__label.bold(for="9") Webpack
            .cx-about__row.row  
                input.cx-about__checkbox#10(type="checkbox")
                label.cx-about__label.bold(for="10") Дружу с WebGL
            .cx-about__row.row  
                input.cx-about__checkbox#11(type="checkbox"  checked)
                label.cx-about__label.bold(for="11") jQuery
            .cx-about__row.row  
                input.cx-about__checkbox#12(type="checkbox")
                label.cx-about__label.bold(for="12") Знаю/изучаю Angular
            .cx-about__row.row  
                input.cx-about__checkbox#13(type="checkbox"  checked)
                label.cx-about__label.bold(for="13") Знаю/изучаю React
            .cx-about__row.row  
                input.cx-about__checkbox#14(type="checkbox")
                label.cx-about__label.bold(for="14") Знаю/изучаю Node.js
        .cx-about__column_id_3.list    
            .cx-about__row.row        
                input.cx-about__checkbox#15(type="checkbox"  checked)
                label.cx-about__label.bold(for="15") Использую Git
            .cx-about__row.row     
                input.cx-about__checkbox#16(type="checkbox"  checked)
                label.cx-about__label.bold(for="16") С глазомером всё ок
            .cx-about__row.row  
                input.cx-about__checkbox#17(type="checkbox")
                label.cx-about__label.bold(for="17") Читаю <a href="blog.csssr.ru">blog.csssr.ru</a>
            .cx-about__row.row  
                input.cx-about__checkbox#18(type="checkbox")
                label.cx-about__label.bold(for="18") Я ленивый(-ая)
            .cx-about__row.row  
                input.cx-about__checkbox#19(type="checkbox"  checked)
                label.cx-about__label.bold(for="19") У меня хороший английский
