.header
    display flex
    justify-content space-between
    @media screen and (max-width: 600px)
        flex-direction: column
        justify-content center
        align-items center
        margin-bottom 35px
    &__logo
        height 52px
        margin-top 62px
    &__stamp
        margin-right -65px
        margin-top 49px
        @media screen and (max-width: 600px)
            margin-right 0
            margin-top 20px
