.jslvl
    margin-top 39px
    &__title
        letter-spacing 0.2px
    &__slider
        margin-top 30px
        margin-left -6px
        margin-right -6px
        height 5px
        background url(../../slider.png) no-repeat
        background-position-y -26px
        background-position-x 1px
        position relative               
    &__picker
        content ''
        position absolute
        width 17px
        height 14px
        top -16px
        background url(../../picker.png)
        &:hover
            cursor pointer
    &__links
        display flex  
        margin-top 23px  
        letter-spacing 0.1
    &__option
        font-size: 13px
        &_id_1
            width 145px    
            margin-top 6px
            position relative
            &:before
                content ''
                position absolute
                width 4px
                height 26px
                top -31px
                left 0
                background url(../../link_long.png)
        &_id_2
            width 228px  
            margin-top 5px
            position relative
            &:before
                content ''
                position absolute
                width 12px
                height 11px
                top -30px
                left -3px
                background url(../../link_short.png)
        &_id_3
            width 170px 
            margin-right 88px 
            line-height 20px
            margin-bottom 2px
            position relative
            &:before
                content ''
                position absolute
                width 12px
                height 11px
                top -26px
                left -5px
                background url(../../link_short.png)
        &_id_4
            width 141px    
            margin-top 10px
            position relative
            &:after
                content ''
                position absolute
                width 4px
                height 26px
                top -36px
                right 0
                background url(../../link_long.png)  
