.jslvl
    .jslvl__title.title.bold Уровень владения JavaScript
    .jslvl__slider
        .jslvl__picker
    .jslvl__links
        .jslvl__option.jslvl__option_id_1.bold Не владею
        .jslvl__option.jslvl__option_id_2.bold Использую готовые решения
        .jslvl__option.jslvl__option_id_3.bold Использую готовые решения и умею их переделывать
        .jslvl__option.jslvl__option_id_4.bold Пишу сложный JS с нуля