.plans
    margin-top 23px
    &__description
        margin-top -4px
    &__inputs
        margin-top 19px 
        display flex
        @media screen and (max-width: 600px)
            display flex
            flex-direction: column
            align-items center
    &__input
        margin-right: 24px  
        @media screen and (max-width: 600px)
            margin-top 25px  
    &__label
        font-size: 20px
    &__radio:not(:checked), &__radio:checked 
        position: absolute
        left: -9999px
    &__radio:not(:checked) + &__label, &__radio:checked + &__label 
        position: relative
        padding-left: 32px
        cursor: pointer
    &__radio:not(:checked) + &__label:before, &__radio:checked + &__label:before
        content: ''
        position: absolute
        left: -7px 
        top: -10px
        width: 41px 
        height: 45px
        background: url("../../radio.png") no-repeat
    &__radio:not(:checked) + &__label:after, &__radio:checked + &__label:after
        content: ''
        position: absolute
        width: 23px
        height: 27px
        left: 2px
        transition: all .2s
        background: url("../../checked_radio.png") no-repeat
    &__radio:not(:checked) + &__label:after
        opacity: 0
        transform: scale(0)
    &__radio:checked + &__label:after
        opacity: 1
        transform: scale(1)       