.tx-about
    .tx-about__title.title.bold Расскажите о себе словами
    p.tx-about__description.description.
        Напишите пару предложений, чем вас привлекла наша вакансия 
        и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, 
        если при нехватке места для текста строки будут добавляться 
        автоматически.
    form.tx-about__inputs.list    
        input.tx-about__input.input_type_primary(type="text" placeholder="Ну-ууу-уу..." value="Есть навыки написания приложений на React.")
        input.tx-about__input.input_type_primary(type="text" placeholder="Ээээ..." value="От вакансии ожидаю интересный опыт.")
        input.tx-about__input.input_type_primary(type="text" placeholder="" value="Также готов осваивать новые технологии.")